<div
  class="modal custom-modal fade"
  id="delete_comment"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
            <h3>Delete Comment</h3>
            <p>Are you sure want to delete?</p>
        </div>
        <form action="{{url_for('main.delete_comment')}}" method="POST">
          {% set delete_comment_post = context['delete_comment_post'] %}
          {{delete_comment_post.hidden_tag()}}
          <input class="selected-comment-delete" type="hidden" name="comment_id" value="" />
          
          <div class="modal-btn">
              <div class="row">
                <div class="col-md-6">
                    {{delete_comment_post.submit(class_="btn-submit")}}
                </div>
                <div class="col-md-6">
                    <input type="button" class="btn-submit btn-modal-dismiss" value="Cancel">
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>