<div
  class="modal custom-modal fade"
  id="user_prompt"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Join Zetu Feed</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          
      <div class="modal-body">
        
        <p>Register on ZetuFeed and get to either;</p>
        <ul>
            <li>Add comments,</li>
            <li>Create your blog and or</li>
            <li>Post blogs in other blogs</li>
        </ul>
        <div class="btn-block">
        <a href="{{url_for('auth.register')}}" class="btn-submit">Register</a>
        </div>
        <a class="have-account" href="{{url_for('auth.login')}}">Already have an account</a>
      </div>
    </div>
  </div>
</div>
