/*-----------------
    General
 -----------------------*/
.page-header {
  position: fixed;
  z-index: 999;
  background: #000;
  width: 100%;
  top: 0;
  color: #fff;
}
.position-sticky {
  top: 9rem !important;
}
.page-wrapper .main,
.login-wrapper {
  padding-top: 9em;
}
.btn-submit {
  outline: none;
  border: none;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  width: 150px;
  border-radius: 8px;
  background-color: #0096c7;
  color: #fff;
  font-weight: 600;
}
.btn-block .btn-submit {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.btn-block .btn-submit:hover {
  color: #fff;
}
.text-primary {
  color: #0096c7;
}
.text-white {
  color: #fff !important;
}
.decoration-none {
  text-decoration: none;
}
.icon-edit,
.icon-delete {
  text-decoration: none;
  color: white;
  padding: 0.2em 0.75em;
  border-radius: 3px;
  margin: 0 0.2em;
}
.icon-edit {
  background: black;
}
.icon-delete {
  background: red;
}
.icon-edit:hover,
.icon-delete:hover {
  color: #fff;
}
.form-header {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.form-header p {
  color: #929292;
  font-size: 15px;
  margin-bottom: 0;
}
.link-secondary.active{
  color: #fff;
  font-weight: 900;
  text-decoration-thickness: 3px;
}
/*-----------------
    Modal headers
 -----------------------*/
.modal .modal-header {
  border-bottom: none;
}
.modal {
  text-align: center;
  padding: 0 !important;
}
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.custom-modal .modal-body {
  padding: 30px;
}
.custom-modal .modal-content {
  border: 0;
  border-radius: 10px;
}
.modal-btn > .row > div {
  padding-left: 8px;
  padding-right: 8px;
}
/* .btn-modal{
    background-color: #fff;
    border: 1px solid #667eea;
    border-radius: 50px;
    color: #667eea;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
} */
/*-----------------
    Login & Register
 -----------------------*/
.login-wrapper,
.signup-wrapper {
  padding-top: 9em;
  width: 90%;
  margin: 0 auto;
}
.login-box,
.signup-box {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  border-radius: 6px;
}
.login-box form,
.signup-box form,
.login-box .alert,
.signup-box .alert {
  text-align: left;
}
.login-box h4,
.signup-box h4 {
  font-weight: 900;
}
/*-----------------
    Comment
 -----------------------*/
.add-comment {
  padding-left: 3em;
}
.add-comment a {
  color: #929292;
  font-size: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.add-comment a:hover {
  color: #f17d00;
}
.comments-wrapper {
  padding-left: 3em;
}
.btn-remove {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
  border-radius: 1em;
  padding: 0.05em 0.42em;
  font-size: 10px;
}
.btn-remove:hover {
  cursor: pointer;
}
/*-----------------
    User prompt
 -----------------------*/
a.have-account {
  color: #929292;
  font-size: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
a.have-account:hover {
  color: #f17d00;
}
/*-----------------
    Profile
 -----------------------*/
.profile-wrapper {
  padding: 9em 0;
}
.profile-box {
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  border-radius: 6px;
}
.profile-box img {
  width: 100%;
}
.profile-box ul {
  list-style-type: none;
  /* line-height: 0.45; */
  padding: 0;
}
.profile-box .pro-edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.1em;
}
.profile-box .icon-edit{
    background: #C9CCD5;
}